extends ../layout/rest-layout.pug
block titleBar
	.jumbotron.my-3
		h1 RESTFul 테스트
block content
	.border.my-3.p-3
		h2 Create
		form.form-inline(action="/rest" method="post")
			input.form-control(type="text" name="usrename")
			button.btn.btn-primary.ml-2 전송
	.border.my-3.p-3
		h2 Update
		form.form-inline(action="/rest" method="post")
			input(type="hidden" name="_method" value="put")
			input.form-control(type="text" name="usrename")
			button.btn.btn-primary.ml-2 전송
	.border.my-3.p-3
		h2 Delete
		form.form-inline(action="/rest" method="post")
			input(type="hidden" name="_method" value="delete")
			input.form-control(type="text" name="username")
			button.btn.btn-primary.ml-2 전송
	.border.my-3.p-3
		h2 Read
